In [99]:
## Imports
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

import pickle

from keras.preprocessing.text import Tokenizer
from keras.preprocessing.sequence import pad_sequences
from keras.utils import to_categorical
import re
import codecs

from scipy.sparse import csr_matrix
import sklearn
import spacy
from sklearn.decomposition import NMF, LatentDirichletAllocation
from sklearn.decomposition import TruncatedSVD
from sklearn.neighbors import NearestNeighbors
from sklearn.utils.extmath import randomized_svd
from sklearn import cross_validation as cv
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import manhattan_distances
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.ensemble import RandomForestClassifier


## EDA

In [2]:
yelp_business = pd.read_csv('/Users/iris/Downloads/yelp_business.csv')
yelp_attributes = pd.read_csv('/Users/iris/Downloads/yelp_business_attributes.csv')
yelp_tip = pd.read_csv('/Users/iris/Downloads/yelp_tip.csv')
yelp_users = pd.read_csv('/Users/iris/Downloads/yelp_user.csv')
yelp_review = pd.read_csv('/Users/iris/Downloads/yelp_review.csv')

In [3]:
yelp_business.head(2)

,business_id,name,neighborhood,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,categories
0,FYWN1wneV18bWNgQjJ2GNg,"""Dental by Design""",NaN,"""4855 E Warner Rd, Ste B9""",Ahwatukee,AZ,85044,33.330690,-111.978599,4.0,22,1,Dentists;General Dentistry;Health & Medical;Or...
1,He-G7vWjzVUysIKrfNbPUQ,"""Stephen Szabo Salon""",NaN,"""3101 Washington Rd""",McMurray,PA,15317,40.291685,-80.104900,3.0,11,1,Hair Stylists;Hair Salons;Men's Hair Salons;Bl...

In [4]:
yelp_business.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 174567 entries, 0 to 174566
Data columns (total 13 columns):
business_id     174567 non-null object
name            174567 non-null object
neighborhood    68015 non-null object
address         174567 non-null object
city            174566 non-null object
state           174566 non-null object
postal_code     173944 non-null object
latitude        174566 non-null float64
longitude       174566 non-null float64
stars           174567 non-null float64
review_count    174567 non-null int64
is_open         174567 non-null int64
categories      174567 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 17.3+ MB

In [5]:
#Limit businesses to resturants only
restaurants = yelp_business[yelp_business['categories'].str.contains('Restaurants')]
restaurants.describe()

           latitude     longitude         stars  review_count       is_open
count  54618.000000  54618.000000  54618.000000  54618.000000  54618.000000
mean      40.333631    -85.102962      3.456187     58.973818      0.739573
std        5.644022     28.368167      0.793384    150.760885      0.438872
min      -34.515952   -142.466650      1.000000      3.000000      0.000000
25%       35.298741   -111.927162      3.000000      7.000000      0.000000
50%       41.362593    -80.804737      3.500000     18.000000      1.000000
75%       43.725980    -79.386494      4.000000     54.000000      1.000000
max       89.999314    115.086769      5.000000   7361.000000      1.000000

In [6]:
#Restaurants with 20 or more reviews
restaurants = restaurants[restaurants['review_count'] > 20]

In [7]:
restaurants.groupby('is_open')['business_id'].nunique()

is_open
0     4905
1    20646
Name: business_id, dtype: int64

In [8]:
#get rid of closed restaurants
#restaurants = restaurants[restaurants['is_open'] == 1]

In [9]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25551 entries, 4 to 174558
Data columns (total 13 columns):
business_id     25551 non-null object
name            25551 non-null object
neighborhood    11913 non-null object
address         25551 non-null object
city            25551 non-null object
state           25551 non-null object
postal_code     25536 non-null object
latitude        25551 non-null float64
longitude       25551 non-null float64
stars           25551 non-null float64
review_count    25551 non-null int64
is_open         25551 non-null int64
categories      25551 non-null object
dtypes: float64(3), int64(2), object(8)
memory usage: 2.7+ MB

In [10]:
restaurants = restaurants.drop(['neighborhood', 'address','postal_code','longitude','latitude','is_open'], axis = 1)

In [11]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25551 entries, 4 to 174558
Data columns (total 7 columns):
business_id     25551 non-null object
name            25551 non-null object
city            25551 non-null object
state           25551 non-null object
stars           25551 non-null float64
review_count    25551 non-null int64
categories      25551 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.6+ MB

In [12]:
#Too many NAN to be useful
yelp_attributes.head()

,business_id,AcceptsInsurance,ByAppointmentOnly,BusinessAcceptsCreditCards,BusinessParking_garage,BusinessParking_street,BusinessParking_validated,BusinessParking_lot,BusinessParking_valet,HairSpecializesIn_coloring,...,Corkage,DietaryRestrictions_dairy-free,DietaryRestrictions_gluten-free,DietaryRestrictions_vegan,DietaryRestrictions_kosher,DietaryRestrictions_halal,DietaryRestrictions_soy-free,DietaryRestrictions_vegetarian,AgesAllowed,RestaurantsCounterService
0,FYWN1wneV18bWNgQjJ2GNg,Na,Na,Na,True,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
1,He-G7vWjzVUysIKrfNbPUQ,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
2,8DShNS-LuFqpEWIp0HxijA,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
3,PfOCPjBrlQAnz__NXj9h_w,Na,Na,Na,Na,Na,Na,Na,Na,Na,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na
4,o9eMRCWt5PkpLDE0gOPtcQ,Na,Na,Na,Na,False,False,False,False,False,...,Na,Na,Na,Na,Na,Na,Na,Na,Na,Na

In [13]:
restaurants[restaurants['categories'].str.contains('Italian')]

,business_id,name,city,state,stars,review_count,categories
44,BnuzcebyB1AfxH0kjNWqSg,"""Carrabba's Italian Grill""",Frazer,PA,3.5,25,Restaurants;Italian;Seafood
90,aFBCmJUYrPeol_P75QX7Jw,"""Fraticelli's Authentic Italian Grill""",Richmond Hill,ON,3.0,88,Restaurants;Italian
178,mLP-jIIRdoaYM7fJqqFurw,"""Napoli Pizzeria""",Pittsburgh,PA,4.0,53,Italian;Pizza;Restaurants;Salad
220,Qv0OEziLJwyAqcgtrTsA4w,"""Luke's Of Chicago""",Scottsdale,AZ,3.5,50,Italian;Restaurants;Sandwiches;Hot Dogs
243,XguKrY0dAuaK1W6HUlUQ1Q,"""Retz's Laconi's II""",Cuyahoga Falls,OH,3.5,29,Italian;Restaurants;Pizza
273,3b4efqz06QrLQ_w2xLc4pA,"""Olive Garden Italian Restaurant""",Phoenix,AZ,3.0,40,Restaurants;Italian
274,dPxZI9lrKTl5dvFfnb1_Ig,"""Trattoria Italia""",Las Vegas,NV,4.5,210,Seafood;Italian;Pizza;Restaurants
665,LhWwwDJ2l79a1tHrpcdK6A,"""Scaddabush Woodbridge""",Vaughan,ON,3.0,22,Nightlife;Restaurants;Bars;Italian
888,l0WauZ92kRg9bu2oxHj4TQ,"""Aiello's East Coast Italian""",Phoenix,AZ,4.0,130,Restaurants;Italian
1075,NlBifQZCNUAnbuo_wKIVpg,"""Bada Bing Pizza""",Painesville,OH,4.5,31,Pizza;Italian;Restaurants
1118,qVQGfHphxolps16v6g5X-g,"""Belfiore's Italian Ristorante""",Phoenix,AZ,3.5,67,Pizza;Italian;Food;Restaurants;Bakeries
1188,IDW4QFw-fN_wk81G9OV-Mg,"""Nothing But Noodles""",Charlotte,NC,4.0,75,Asian Fusion;Chinese;American (Traditional);No...
1226,TolwZ3L28or4E8SVTZUf6Q,"""Spinato's Pizza""",Phoenix,AZ,4.0,157,Restaurants;Pizza;Sandwiches;Italian
1271,uIbZjRRqR1OR-t2NBCa1Wg,"""Pizza Hut""",Las Vegas,NV,2.5,32,Pizza;Italian;Restaurants
1366,dhaSDuAoZI0K3hp8aU7otQ,"""Dolce Vino Wine Bar Italian Cuisine""",Glendale,AZ,4.5,36,Italian;Bars;Restaurants;Nightlife;Wine Bars
1564,kQ9gVGp5R_jZwLi0-q8PZQ,"""Hey Meatball""",Toronto,ON,4.0,61,Italian;Sandwiches;Restaurants
1586,gtfLQysuCBEAQk3wwWxwTg,"""Viva Napoli""",Toronto,ON,3.5,67,Italian;Pizza;Restaurants
1643,WaTXG26xbOGffSscvyr-wQ,"""Spasso Pizza & Mozzarella Bar""",Phoenix,AZ,3.5,38,Pizza;Italian;Restaurants
1674,fi6s29AbDqLjoQ1LSe5lrg,"""Michael's Back Door Restaurant""",Mississauga,ON,3.5,34,Italian;Restaurants
1698,fOKeVUHC7nb6c8G5sILdHQ,"""Tony's Pizza""",Huntersville,NC,4.5,99,Sandwiches;Italian;Restaurants;Pizza
1781,kplbTXzOaUJqP2BwanoYjw,"""Dino's Ristorante""",Phoenix,AZ,4.5,38,Pizza;Food;Restaurants;Italian;Bakeries
1830,TAoN9nsibXOxsOnnG7Kd_g,"""Riazzi's Italian Garden""",Tempe,AZ,3.5,141,Italian;Restaurants
1888,k9AaulyfonmUlkmI3uMiQQ,"""Capitol Trattoria Pizzeria""",Toronto,ON,2.5,25,Restaurants;Italian;Event Planning & Services;...
1966,IT0IODInyhKbG4a_ka71MQ,"""Oregano's Pizza Bistro""",Cave Creek,AZ,3.5,190,Pizza;Italian;Restaurants
1969,RMkBZDwEbcv5Ctd-a2A0Lw,"""Gino's Italian Deli""",Madison,WI,4.0,62,Restaurants;Sandwiches;Specialty Food;Grocery;...
2047,29o-qEDIRpXmVmSPNsH4sA,"""Vin Santo""",Middleton,WI,4.0,109,Italian;Restaurants
2057,gCZAYkIcRjNYYRHQ9htpJQ,"""Bella Luna Trattoria""",Monroeville,PA,3.5,77,Restaurants;Italian
2109,go_uJsNgk2WCRtl5m-v72g,"""Olive Garden Italian Restaurant""",North Olmsted,OH,3.5,39,Italian;Nightlife;Bars;Salad;Wine Bars;Restaur...
2143,4KZRFxciaKfTD7qbS55b7g,"""Fabio On Fire""",Peoria,AZ,4.5,132,Italian;Pizza;Food;Food Trucks;Restaurants
2330,cOWXtCz7F9GQhPIks8gm6Q,"""SOLO Trattoria""",Phoenix,AZ,4.5,268,Pizza;Food;Beer;Wine & Spirits;Specialty Food;...
...,...,...,...,...,...,...,...
171886,rLMsz9ams_xrlX_weejhtQ,"""Midtown""",Las Vegas,NV,3.5,45,Italian;Bars;Restaurants;Wine Bars;Lounges;Nig...
171907,hVzRXGGhRJfTXIasO3bq1w,"""Mia Za's Italian Cafe""",Madison,WI,3.0,49,Italian;Restaurants
171936,bCrMHwCLZzyKsAUOiAL0OA,"""Ray's Pizza""",Scottsdale,AZ,3.5,156,Pizza;Italian;Restaurants
172080,c5x6HWB8MTZvlTgabihaSw,"""Arrivederci""",Scottsdale,AZ,4.0,219,Italian;Restaurants
172099,pHJu8tj3sI8eC5aIHLFEfQ,"""Nora's Italian Cuisine""",Las Vegas,NV,4.0,1288,Italian;Wine Bars;Restaurants;Pizza;Bars;Event...
172223,xBwE7uIx-yN-n4OpNeAaDQ,"""Rosati's Pizza""",Mesa,AZ,2.0,32,Italian;Restaurants;Pizza
172260,ES8JP18I4sz72HEAWjk_KQ,"""Vero Trattoria""",Toronto,ON,2.5,21,Restaurants;Italian
172603,R7eLlAdeIYsxux_Vm0l5sg,"""Carbonara's Restaurant""",Pittsburgh,PA,3.5,49,Restaurants;Pizza;Italian
172670,U_ujx2nyDqSLLOET0A-LhA,"""Da Pippo""",Böblingen,BW,3.0,21,Restaurants;Italian
172836,Nqs4_gT6nKyeTOJ_rgu1mg,"""Frankie's Italian Cuisine""",North Olmsted,OH,3.5,98,Restaurants;Pizza;Italian
172855,2p_xWNAGm_5sVvr_Vs6mlw,"""Trapuzzano Italian Chophouse""",Pittsburgh,PA,3.5,44,Italian;Restaurants
173059,Ud2r44vcEX9mPCmk62bPuw,"""Amelia's""",Montréal,QC,4.0,37,Restaurants;Pizza;Italian
173191,gjATEWAllTfxfxhGqJ93sQ,"""Il Focolaio""",Montreal,QC,4.0,292,Restaurants;Italian;Pizza
173258,Z072pEHdos2Gjj3nMdR6uA,"""Luce Restaurant & Bar""",Charlotte,NC,4.0,164,Italian;Restaurants
173288,RHcfJ-l69RbBE4viU0-jwQ,"""Uno Mustachio""",Toronto,ON,3.5,68,Sandwiches;Italian;Restaurants
173307,epoEBSCz3Mh4X-vVvcioNA,"""BiCE Ristorante""",Scottsdale,AZ,3.0,22,Restaurants;Nightlife;Bars;Lounges;Italian
173312,BgZQzQlK5XB0hflgTl-3uw,"""Penn Station East Coast Subs""",Charlotte,NC,3.5,31,Italian;Sandwiches;Cheesesteaks;Restaurants
173321,0h5yI6np7weAVH0jsjHqPw,"""Humble Pie""",Phoenix,AZ,3.0,93,Pizza;Bars;Italian;Restaurants;Beer;Wine & Spi...
173552,C63sF-wG4f1doMIMv2qvOg,"""Cafe Porta Alba""",Madison,WI,4.0,145,Restaurants;Pizza;Italian
173601,OIdOJaNS8M624F58XGV3PQ,"""Pizzeria Libretto Danforth""",Toronto,ON,4.0,268,Restaurants;Pizza;Italian
173791,FpW25osFTrQf2dCIzAPavQ,"""Guido's Pizza Haven & Restaurant""",Chesterland,OH,4.0,68,Restaurants;Caterers;Event Planning & Services...
173800,PJgNZN4UYLxP47cy_1c-DQ,"""Taste of Italy""",Goodyear,AZ,4.0,149,Restaurants;Pizza;Italian
173927,4jW0WayNHn1BDLYn7JbL_Q,"""Calabria Italian Kitchen""",Phoenix,AZ,4.0,38,Restaurants;Italian;Sandwiches
173940,fe8jmKzXtGvMVQDUvW0pGw,"""Rossini's Italian Restaurant""",Indian Trail,NC,2.5,35,Restaurants;Italian
174181,1a9YViZDThy3VqBnGOatmQ,"""Maggiano's Little Italy""",Scottsdale,AZ,3.5,473,Italian;Nightlife;Restaurants;Bars
174216,A2aOwMcP0DxGPr2El7eifA,"""Novita Italian Cuisine""",Markham,ON,3.5,72,Italian;Restaurants
174261,lKIDHvxHpyhruR_J9P42wg,"""Frank's Pizza & Wings""",Phoenix,AZ,3.0,55,Sandwiches;Italian;Restaurants;Pizza
174263,7LzhLKAwS7PHUvaPIW833A,"""Dominic's Santos""",Cleveland,OH,3.5,32,Italian;American (Traditional);Pizza;Restaurants
174453,8v66rFpXa87u2jRGOn8ZfA,"""TGI Fridays""",Brooklyn,OH,3.0,34,American (Traditional);Italian;Nightlife;Bars;...
174558,UdEmYOnk2iJDY9lpEPAlJQ,"""Floridino's Pizza & Pasta""",Chandler,AZ,4.0,374,Pizza;Event Planning & Services;Italian;Catere...

In [14]:
yelp_tip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1098324 entries, 0 to 1098323
Data columns (total 5 columns):
text           1098322 non-null object
date           1098324 non-null object
likes          1098324 non-null int64
business_id    1098324 non-null object
user_id        1098324 non-null object
dtypes: int64(1), object(4)
memory usage: 41.9+ MB

In [15]:
#df1 = df1.merge(df2[['weeknum', 'datetime']], on=['weeknum'])
restaurant_tips = restaurants.merge(yelp_tip[['text','business_id','user_id']], on = ['business_id'])

In [16]:
restaurant_tips.head()

,business_id,name,city,state,stars,review_count,categories,text,user_id
0,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",Cuyahoga Falls,OH,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...,People are giving this place 1 star because of...,8v1rpTH0d8YjjGWA892l1Q
1,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",Cuyahoga Falls,OH,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...,"Excellent selection of beers on tap, many scre...",y_RCzjU-K_KrMBko3mMhsg
2,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",Cuyahoga Falls,OH,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...,Great event held by yelp!! Will be back!!,3OhkexT0E78zylIH426EOg
3,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",Cuyahoga Falls,OH,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...,I love this place. They always take good care ...,RgTByLRNRTJNmeWgp6Kg4Q
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",Cuyahoga Falls,OH,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...,Chop Steak was surprisingly good. Love love lo...,RgTByLRNRTJNmeWgp6Kg4Q

In [17]:
restaurant_tips.business_id.nunique()

25191

In [18]:
restaurant_tips.categories.unique()

array(['American (New);Nightlife;Bars;Sandwiches;American (Traditional);Burgers;Restaurants',
       'French;Food;Bakeries;Restaurants',
       'Tiki Bars;Nightlife;Mexican;Restaurants;Bars', ...,
       'Bars;Gastropubs;Nightlife;Restaurants;Pubs;Sandwiches',
       'Nightlife;Restaurants;Sandwiches;Bars;Canadian (New);Asian Fusion;Pubs',
       'Pizza;Event Planning & Services;Italian;Caterers;Restaurants'],
      dtype=object)

In [19]:
all_cat = restaurant_tips.categories

In [20]:
all_cat = list(all_cat)
print(all_cat[:10])

['American (New);Nightlife;Bars;Sandwiches;American (Traditional);Burgers;Restaurants', 'American (New);Nightlife;Bars;Sandwiches;American (Traditional);Burgers;Restaurants', 'American (New);Nightlife;Bars;Sandwiches;American (Traditional);Burgers;Restaurants', 'American (New);Nightlife;Bars;Sandwiches;American (Traditional);Burgers;Restaurants', 'American (New);Nightlife;Bars;Sandwiches;American (Traditional);Burgers;Restaurants', 'American (New);Nightlife;Bars;Sandwiches;American (Traditional);Burgers;Restaurants', 'American (New);Nightlife;Bars;Sandwiches;American (Traditional);Burgers;Restaurants', 'American (New);Nightlife;Bars;Sandwiches;American (Traditional);Burgers;Restaurants', 'American (New);Nightlife;Bars;Sandwiches;American (Traditional);Burgers;Restaurants', 'American (New);Nightlife;Bars;Sandwiches;American (Traditional);Burgers;Restaurants']

In [21]:
##How many unique restaurant categories are there?
k = set(all_cat)

In [22]:
list(k)

['Restaurants;Bars;Nightlife;Breakfast & Brunch;American (Traditional)',
 'Chinese;Mongolian;Restaurants;Hot Pot',
 'Restaurants;Breakfast & Brunch;American (Traditional);Diners',
 'Vietnamese;Bubble Tea;Sandwiches;Food;Coffee & Tea;Restaurants',
 'Restaurants;Japanese;Sushi Bars;Thai',
 'American (New);Breakfast & Brunch;Cafes;Restaurants',
 'Pizza;Food;Restaurants;Italian;Desserts',
 'Cafes;Bakeries;Food;Custom Cakes;Desserts;Restaurants',
 'Korean;Restaurants;Asian Fusion;Barbeque',
 'Buffets;Indian;Pakistani;Restaurants',
 'Coffee & Tea;Nightlife;Food;American (New);Tapas/Small Plates;Cocktail Bars;Desserts;Gastropubs;Restaurants;Bars;Breakfast & Brunch;American (Traditional)',
 'Seafood;Restaurants;American (New);Burgers',
 'Ramen;Poke;Food;Japanese;Asian Fusion;Gluten-Free;Restaurants;Sushi Bars',
 'American (New);Nightlife;Bars;Beer Bar;Cocktail Bars;Gastropubs;Restaurants;British',
 'Restaurants;Caterers;Event Planning & Services;Pizza;Mediterranean',
 'Scottish;Restaurants;Gastropubs',
 'Food;Sandwiches;Restaurants;Bakeries;Salad;Coffee & Tea;Soup',
 'Restaurants;Vegan;Pizza;Gluten-Free',
 'Venues & Event Spaces;Restaurants;Party & Event Planning;Event Planning & Services;Caterers',
 'Nightlife;Bars;Belgian;Restaurants;American (New)',
 'Nightlife;Restaurants;Italian;Wine Bars;Bars;Salad',
 'Pizza;Restaurants;Barbeque;Southern;Sandwiches',
 'Tea Rooms;Taiwanese;Food;Bubble Tea;Restaurants;Chinese',
 'Cocktail Bars;Nightlife;Restaurants;Cafes;Coffee & Tea;Bars;Breakfast & Brunch;Food',
 'Sports Bars;Burgers;Restaurants;Bars;Pool Halls;Nightlife;American (New)',
 'American (Traditional);Buffets;Restaurants;American (New)',
 'Bars;Restaurants;Hotels;Champagne Bars;Beer Bar;Hotels & Travel;Event Planning & Services;Modern European;Nightlife',
 'Food;Seafood;Meat Shops;Seafood Markets;Restaurants;Specialty Food',
 'Event Planning & Services;Food;Filipino;Caterers;Barbeque;Restaurants;Food Trucks;Street Vendors',
 'Beer Bar;American (Traditional);Cocktail Bars;Bars;Nightlife;Restaurants',
 'Restaurants;Burgers;Gluten-Free;Food;Juice Bars & Smoothies;Salad;Vegetarian;Fast Food',
 'Gelato;Restaurants;Local Flavor;Food',
 'Asian Fusion;Lounges;Nightlife;Japanese;Bars;Restaurants;Sushi Bars',
 'Restaurants;Coffee & Tea;Food;Delis',
 'Sandwiches;American (New);Nightlife;Bars;Sports Bars;Restaurants',
 'Delis;Bagels;Breakfast & Brunch;Restaurants;Food',
 'Buffets;Chinese;Sushi Bars;Korean;Restaurants;Dim Sum;Japanese',
 'Scottish;Brasseries;Restaurants',
 'Specialty Food;Ethnic Food;Halal;Food;Indian;Pakistani;Seafood;Restaurants',
 'Indian;Restaurants;Fast Food',
 'Italian;Restaurants;Event Planning & Services;Venues & Event Spaces',
 'Vegetarian;Hot Dogs;Restaurants;Fast Food',
 'Restaurants;Vietnamese',
 'Bakeries;Indian;Food;Restaurants',
 'Grocery;Chinese;Restaurants;Food',
 'Food;Coffee & Tea;Restaurants;Desserts;Japanese',
 'Event Planning & Services;Caterers;Pizza;Restaurants;Chicken Wings',
 'Restaurants;Beauty & Spas;Bars;Nightlife;American (Traditional);Mexican',
 'American (Traditional);American (New);Restaurants;Pizza',
 'Coffee & Tea;Creperies;Restaurants;Food;Desserts',
 'Bars;Italian;Restaurants;Nightlife',
 'Food;Turkish;Nightlife;Beer;Wine & Spirits;Sandwiches;Bars;German;Restaurants',
 'Restaurants;American (Traditional);Mexican',
 'Breakfast & Brunch;Bakeries;Event Planning & Services;Desserts;Party & Event Planning;Restaurants;Caterers;Sandwiches;Food',
 'American (New);Breakfast & Brunch;American (Traditional);Diners;Restaurants',
 'Pizza;Gluten-Free;Restaurants;Salad',
 'Vegan;Vegetarian;Thai;Restaurants',
 'Restaurants;Bagels;Food;Sandwiches;Coffee & Tea',
 'Wine Bars;Coffee & Tea;Bakeries;Cafes;Patisserie/Cake Shop;Swabian;Nightlife;Restaurants;Bars;Food',
 'Restaurants;Nightlife;Pizza;Pubs;Bars;Lounges',
 'Restaurants;Food;Soul Food;Local Services;Southern;Food Delivery Services',
 'Restaurants;Canadian (New);Food;Nightlife;Breweries;Bars;Pubs',
 'Buffets;Lebanese;Mediterranean;Restaurants;Middle Eastern',
 'Pasta Shops;Restaurants;Specialty Food;Food;Italian',
 'Food;Polish;Bakeries;Restaurants',
 'American (New);Restaurants;Breakfast & Brunch;Cafes;Mexican;Diners',
 'Nightlife;Asian Fusion;Karaoke;Korean;Restaurants',
 'Mexican;Latin American;Restaurants',
 'Bars;Restaurants;Sports Bars;American (Traditional);Nightlife',
 'Barbeque;Chinese;Restaurants;Noodles',
 'Restaurants;Gluten-Free;Pizza',
 'Restaurants;Breakfast & Brunch;Mexican',
 'Comfort Food;Canadian (New);Restaurants;American (Traditional)',
 'Food Trucks;Seafood;Food;Restaurants',
 'American (Traditional);American (New);Restaurants;Burgers',
 'Southern;Restaurants;Food;American (Traditional);Bakeries',
 'Restaurants;Coffee & Tea;Food',
 'Italian;Restaurants;American (Traditional);American (New);Greek',
 'Japanese;Food Trucks;Asian Fusion;Restaurants;Food',
 'Caterers;American (Traditional);Fast Food;Restaurants;Italian;Cheesesteaks;Salad;Event Planning & Services;Sandwiches',
 'Pizza;Burgers;Breakfast & Brunch;Restaurants;French',
 'Food Trucks;Restaurants;Italian;Pizza;Food;Food Stands',
 'Brasseries;Breakfast & Brunch;Restaurants;Nightlife;Tapas/Small Plates;Wine Bars;Bars',
 'Lounges;American (Traditional);Restaurants;Bars;Nightlife',
 'Restaurants;Nightlife;American (New);Steakhouses;Seafood;Wine Bars;Bars',
 'Halal;Restaurants;American (Traditional)',
 'Sandwiches;Restaurants;Salad;Juice Bars & Smoothies;Food',
 'Nightlife;American (New);Bars;Restaurants;Sports Bars',
 'Restaurants;Caterers;Fast Food;Event Planning & Services',
 'Wine Bars;Mexican;Nightlife;Bars;American (New);Restaurants',
 'International;Beer Garden;German;Nightlife;Swabian;Buffets;Bars;Restaurants',
 'Vegetarian;Restaurants;Thai',
 'Barbeque;Smokehouse;American (Traditional);Bars;Nightlife;Food;Restaurants',
 'Restaurants;Taiwanese;Chinese;Asian Fusion',
 'Basque;Seafood;Spanish;Portuguese;Tapas/Small Plates;Restaurants',
 'Food;American (Traditional);Coffee & Tea;Desserts;Restaurants;Ice Cream & Frozen Yogurt',
 'Nightlife;Bars;Restaurants;American (Traditional);Tex-Mex',
 'Food;American (New);Vegetarian;Restaurants;Bakeries;Cafes;Juice Bars & Smoothies',
 'Coffee & Tea;Cafes;Restaurants;Bakeries;Desserts;Food;Japanese',
 'French;Bistros;Restaurants',
 'Burgers;Restaurants;American (Traditional)',
 'Nightlife;Bars;Pubs;Arts & Entertainment;Music Venues;Restaurants;British;Sandwiches',
 'Beer;Wine & Spirits;American (New);Food;Lounges;Bars;Restaurants;Chicken Wings;Sports Bars;Nightlife;American (Traditional)',
 'Seafood;Restaurants;American (New);Scottish',
 'Burgers;American (Traditional);Diners;Restaurants;Breakfast & Brunch',
 'Breakfast & Brunch;Sports Bars;Restaurants;Bars;Nightlife;American (Traditional)',
 'Seafood;Restaurants;Sandwiches;Gastropubs',
 'Food;Restaurants;Fast Food;Salad',
 'Shopping;Restaurants;Shopping Centers;Fashion;Outlet Stores',
 'Seafood;Wine Bars;Cocktail Bars;American (Traditional);Bars;Vegetarian;Asian Fusion;Restaurants;Beer Bar;Nightlife;American (New);Steakhouses',
 'Chinese;Restaurants;Sushi Bars;Buffets',
 'Burgers;American (Traditional);Bars;Restaurants;Sports Bars;Nightlife;Chicken Wings;Steakhouses',
 'Canadian (New);Restaurants;Cambodian',
 'Restaurants;Seafood;Food;Specialty Food;Seafood Markets',
 'Sports Bars;Burgers;Bars;Nightlife;Canadian (New);American (Traditional);Restaurants',
 'Food;Food Delivery Services;Restaurants;Mexican',
 'Bars;Japanese;Restaurants;Nightlife',
 'Mexican;Seafood;Restaurants;Breakfast & Brunch',
 'Thai;Local Flavor;Restaurants',
 'Nightlife;Wine Bars;Bars;Food;Specialty Food;Beer;Wine & Spirits;Tapas/Small Plates;Restaurants',
 'American (New);American (Traditional);Restaurants',
 'Salad;Canadian (New);Burgers;Steakhouses;Seafood;Restaurants',
 'Breakfast & Brunch;Food;Desserts;Restaurants;Waffles;Sandwiches',
 'Restaurants;Delis;Barbeque',
 'Pizza;Event Planning & Services;Caterers;Restaurants;Italian',
 'Restaurants;Mexican;Breakfast & Brunch',
 'Mexican;Bars;Nightlife;Restaurants;Seafood;Dive Bars',
 'Italian;Wine Bars;Salad;Nightlife;Bars;Restaurants',
 'Restaurants;Caribbean;Delis;Sandwiches',
 'Vegan;Restaurants;Food',
 'Nightlife;Restaurants;Gastropubs;Bars;Bavarian;Pubs;German',
 'Restaurants;Japanese;Steakhouses',
 'Barbeque;Restaurants;Tapas Bars',
 'American (Traditional);Mediterranean;Breakfast & Brunch;Restaurants;Greek',
 'Pubs;Nightlife;Gastropubs;American (Traditional);American (New);Restaurants;Bars',
 'Chinese;Ethnic Food;Restaurants;Food;Specialty Food;Imported Food',
 'Restaurants;Soul Food;Caribbean;Food Delivery Services;Food',
 'Asian Fusion;Chinese;Buffets;Restaurants',
 'Chinese;Restaurants;Gluten-Free;Asian Fusion',
 'Gastropubs;Restaurants;Caterers;Food;Event Planning & Services;Desserts;Chicken Wings;Bars;Nightlife;Burgers;Italian;Pizza;Wraps',
 'Restaurants;Thai;Vegetarian',
 'Restaurants;Korean;Sushi Bars;Japanese',
 'Sandwiches;Salad;Restaurants;Pizza',
 'Cajun/Creole;Restaurants;Asian Fusion;Seafood',
 'Fast Food;Pizza;Restaurants;Salad',
 'Salad;American (New);Restaurants;Thai',
 'Middle Eastern;Restaurants;Mediterranean;Falafel',
 'Restaurants;American (Traditional);Pubs;Nightlife;Bars;Sports Bars;American (New)',
 'Pizza;Bars;Lounges;Nightlife;Restaurants',
 'American (Traditional);Casinos;Hotels & Travel;Arts & Entertainment;Resorts;Restaurants;American (New)',
 'Nightlife;Gastropubs;Wine Bars;Restaurants;Bars',
 'Restaurants;British;Burgers;Pubs;Beer;Wine & Spirits;Food;Bars;Nightlife',
 'French;Creperies;Breakfast & Brunch;Restaurants',
 'Vegetarian;Restaurants',
 'Steakhouses;Mediterranean;Spanish;Restaurants',
 'Ramen;Japanese;Bars;Nightlife;Restaurants',
 'Turkish;Restaurants;Mediterranean',
 'American (Traditional);Bars;Nightlife;Restaurants;Sandwiches;Sports Bars',
 'Food;Nightlife;Latin American;Event Planning & Services;Cocktail Bars;Tapas Bars;Restaurants;Caterers;Bars;Coffee & Tea',
 'Pubs;Sports Bars;Nightlife;American (New);Gastropubs;Bars;Restaurants',
 'American (New);Bars;Fast Food;Restaurants;Chicken Wings;Sports Bars;Nightlife',
 'Bars;Burgers;Nightlife;Diners;Seafood;Caterers;American (Traditional);Restaurants;Event Planning & Services;Breakfast & Brunch;American (New)',
 'Juice Bars & Smoothies;Restaurants;Vegan;Food;Vegetarian',
 'Burgers;Sports Bars;Nightlife;American (Traditional);Restaurants;Bars',
 'Japanese;Cocktail Bars;Steakhouses;Teppanyaki;Bars;Nightlife;Restaurants;Sushi Bars',
 'American (New);Sandwiches;Restaurants',
 'Japanese;Restaurants;Asian Fusion;Chinese;Korean;Fast Food;Gluten-Free',
 'Fast Food;Sandwiches;Salad;Delis;Restaurants;Soup',
 'Bars;Nightlife;Restaurants;Mediterranean;Wine Bars;Salad;French',
 'Indian;Event Planning & Services;Caterers;Food;Vegetarian;Restaurants;Specialty Food;Vegan',
 'Breakfast & Brunch;Tex-Mex;Restaurants;Barbeque',
 'Breakfast & Brunch;Restaurants;Cafes;American (Traditional)',
 'Restaurants;Fast Food;Chinese',
 'Event Planning & Services;Restaurants;Nightlife;Dance Clubs;Bars;American (Traditional);Sports Bars;Hookah Bars',
 'Wine Bars;Restaurants;French;Nightlife;Bars',
 'American (Traditional);Diners;Breakfast & Brunch;Restaurants',
 'Cafes;Coffee & Tea;Restaurants;Food;Desserts',
 'Thai;Laotian;Restaurants;Food;Desserts',
 'Breakfast & Brunch;Lebanese;Salad;Restaurants;Greek;Middle Eastern;Mediterranean',
 'Breakfast & Brunch;Restaurants;Food',
 'Restaurants;Food;Portuguese;Bakeries',
 'Food;Restaurants;Food Stands;Street Vendors',
 'Sandwiches;Bakeries;Food;Restaurants;Breakfast & Brunch',
 'Nightlife;Restaurants;Pizza;Sports Bars;Bars;Caterers;Food;Beer;Wine & Spirits;Cocktail Bars;American (Traditional);Event Planning & Services',
 'Italian;Nightlife;Bars;Restaurants;Wine Bars',
 'Cocktail Bars;Nightlife;Spanish;Restaurants;Bars;Latin American',
 'Cajun/Creole;Seafood;Restaurants;Asian Fusion',
 'Caterers;Food;Tex-Mex;Dance Clubs;Mexican;Restaurants;Bars;Desserts;Event Planning & Services;Nightlife;Vegan;Gluten-Free',
 'Restaurants;American (New);Wine Bars;Nightlife;Cafes;Breakfast & Brunch;Bars',
 'Chinese;Seafood;Vegetarian;Restaurants',
 'Chicken Wings;American (Traditional);Nightlife;Sports Bars;Bars;Restaurants',
 'Restaurants;Coffee & Tea;American (New);Breakfast & Brunch;Food;American (Traditional)',
 'Sandwiches;Soup;Restaurants;Breakfast & Brunch;Food;Bagels;Salad',
 'Vietnamese;Restaurants;French',
 'Restaurants;Vietnamese;Noodles;Seafood',
 'Ice Cream & Frozen Yogurt;Fast Food;Food;Juice Bars & Smoothies;Restaurants',
 'Sandwiches;Wraps;Salad;Vegetarian;Food;Juice Bars & Smoothies;Restaurants;Cafes',
 'Nightlife;British;Bars;Lounges;Restaurants;Cocktail Bars',
 'British;Gastropubs;Restaurants;Pubs;Nightlife;Sports Bars;Bars',
 'Burgers;Food;Coffee & Tea;Restaurants',
 'Nightlife;Restaurants;Cocktail Bars;American (New);Bars;Beer Gardens;American (Traditional)',
 'Cafes;Coffee & Tea;Food;Tea Rooms;Restaurants',
 'Pizza;Italian;Chicken Wings;Fast Food;Restaurants',
 'American (New);Nightlife;Restaurants;Bars;Pubs',
 'Nightlife;Mexican;Bars;Restaurants',
 'Karaoke;Restaurants;Bars;Nightlife;Hawaiian',
 'Nightlife;Southern;Breakfast & Brunch;Restaurants;Bars',
 'Restaurants;Nightlife;Sports Bars;American (New);Bars;Pubs',
 'Burgers;Food Stands;Restaurants;Curry Sausage;Fast Food',
 'Food Delivery Services;Pizza;Restaurants;Food;Desserts;Salad',
 'Asian Fusion;Korean;Sushi Bars;Restaurants',
 'Middle Eastern;Egyptian;Sandwiches;Restaurants;Salad',
 'Public Services & Government;Venues & Event Spaces;Active Life;Zoos;Restaurants;Landmarks & Historical Buildings;Animal Shelters;Pets;Event Planning & Services;Party & Event Planning;Horseback Riding;Vacation Rentals;Hotels & Travel',
 'Italian;Restaurants;Pizza;American (Traditional)',
 'Restaurants;Sushi Bars;Japanese',
 'Sports Bars;Pizza;Bars;Restaurants;Nightlife;American (Traditional)',
 'Nightlife;Wine Bars;Pizza;Gluten-Free;Restaurants;Italian;Bars',
 'Sandwiches;Mediterranean;Greek;Restaurants;Burgers',
 'Grocery;American (New);Beer;Wine & Spirits;Food;Restaurants',
 'Restaurants;Food;Burgers;Bakeries',
 'Sandwiches;Lounges;Bars;Restaurants;Nightlife;American (New)',
 'Restaurants;Chicken Wings;Fast Food',
 'Greek;Restaurants;Mediterranean;Salad;Vegetarian',
 'Food;Restaurants;Japanese;Tapas Bars;Desserts',
 'American (Traditional);Chicken Wings;Restaurants;Fast Food',
 'Resorts;Nightlife;Restaurants;Hotels & Travel;Event Planning & Services;Bars;Hotels;Venues & Event Spaces',
 'Italian;Food;Salad;Desserts;Restaurants;Pizza',
 'American (New);Food;Food Court;Bars;Event Planning & Services;Beer;Wine & Spirits;Nightlife;Venues & Event Spaces;Restaurants',
 'Nightlife;Mexican;Restaurants',
 'Nightlife;American (Traditional);Comfort Food;Restaurants;Bars;Steakhouses',
 'Italian;Sandwiches;Restaurants;Delis',
 'Sandwiches;Italian;Delis;Restaurants;Fast Food;Pizza',
 'Nightlife;Pizza;Restaurants;Bars;Wine Bars;Sports Bars;Italian',
 'Nightlife;Bars;American (Traditional);Restaurants',
 'Restaurants;Japanese;Sushi Bars;Steakhouses',
 'Steakhouses;Restaurants;Brazilian;Seafood',
 'Restaurants;Delis;Sandwiches;Salad',
 'Bars;Restaurants;Nightlife;Mexican;Seafood',
 'Shaved Ice;Restaurants;Juice Bars & Smoothies;Ice Cream & Frozen Yogurt;Food;Mexican',
 'American (Traditional);Italian;Nightlife;Bars;Restaurants;American (New)',
 'Restaurants;Chicken Wings;Fast Food;Southern',
 'Breakfast & Brunch;Food;Restaurants',
 'Greek;Restaurants;Cafes;Mediterranean',
 'Delis;Restaurants;Food;Grocery',
 'Event Planning & Services;Restaurants;Chicken Wings;Fast Food;Caterers',
 'American (New);Restaurants;Pizza',
 'Restaurants;Seafood;American (New);Hawaiian',
 'Tapas Bars;Bars;Nightlife;Restaurants;Japanese',
 'Bars;Whiskey Bars;Nightlife;Restaurants;American (Traditional)',
 'Restaurants;Diners;American (Traditional);Cafes',
 'Nightlife;Wine Bars;Restaurants;French;Bars',
 'Food;Breakfast & Brunch;Restaurants;Coffee & Tea;Bagels',
 'Tacos;Bars;Nightlife;Restaurants;Mexican;Cocktail Bars',
 'Restaurants;American (Traditional);Diners',
 'Restaurants;Korean;Tapas/Small Plates;Japanese;Food;Street Vendors',
 'Malaysian;Salad;Restaurants;Vegetarian;Noodles;Thai',
 'Chicken Shop;Fast Food;Restaurants',
 'Desserts;American (Traditional);Bars;Food;Restaurants;Wine Bars;Nightlife',
 'Mexican;Nightlife;Bars;Restaurants',
 'American (Traditional);American (New);Nightlife;Barbeque;Restaurants;Bars;Pubs',
 'Sandwiches;Diners;Fast Food;Restaurants;American (Traditional);Burgers',
 'American (Traditional);Arts & Entertainment;Nightlife;Restaurants;Bars;Music Venues',
 'Canadian (New);American (Traditional);Diners;Restaurants',
 'American (Traditional);American (New);Restaurants;Tapas/Small Plates',
 'Asian Fusion;Vietnamese;Restaurants;Sushi Bars;Korean',
 'Bars;Gastropubs;Restaurants;Burgers;Nightlife',
 'Bars;Food;Nightlife;Wine Bars;Beer;Wine & Spirits;Restaurants;Canadian (New);Brasseries',
 'Nightlife;Restaurants;Pubs;Bars',
 'Restaurants;Bars;Beer;Wine & Spirits;Sandwiches;Nightlife;Breweries;Gastropubs;Pubs;Food',
 'Event Planning & Services;Wine Bars;Bars;Nightlife;Party & Event Planning;Paint & Sip;Restaurants;American (New);Arts & Entertainment',
 'Bars;Restaurants;Nightlife;Italian',
 'Seafood;Restaurants;Chinese',
 'Steakhouses;Restaurants;Nightlife;Bars',
 'Restaurants;African;Cafes',
 'Breakfast & Brunch;Restaurants;Delis',
 'Restaurants;Gastropubs;Food;Bars;Breweries;Pubs;Nightlife',
 'Juice Bars & Smoothies;Restaurants;Food;Vegan',
 'Restaurants;Food;Fast Food;Cafes;Health Markets;American (New);Specialty Food',
 'Beer;Wine & Spirits;Restaurants;American (New);Food;Jazz & Blues;Arts & Entertainment;Nightlife',
 'Nightlife;Restaurants;Mexican;Cocktail Bars;Hotels & Travel;Bars;Desserts;Food;Sports Bars;Lounges',
 'Mediterranean;Sandwiches;Vegetarian;Middle Eastern;Restaurants',
 'Pubs;Scottish;Bars;Nightlife;Restaurants;Gastropubs',
 'Food;Tapas/Small Plates;Delicatessen;French;Restaurants',
 'French;Italian;Restaurants;Mediterranean',
 'Cocktail Bars;Caribbean;Bars;Restaurants;African;Lounges;Nightlife;British',
 'Breakfast & Brunch;American (Traditional);Wine Bars;Tapas/Small Plates;Restaurants;Nightlife;Bars',
 'Steakhouses;Barbeque;Sushi Bars;Japanese;Restaurants',
 'Burgers;Restaurants;American (Traditional);Sandwiches;Gastropubs',
 'Restaurants;Cafes;Sandwiches;Food;Bakeries;Coffee & Tea',
 'Japanese;Restaurants;Thai;Chinese',
 'Caterers;Guamanian;Ethnic Food;Asian Fusion;Comfort Food;Event Planning & Services;Local Flavor;Food;Barbeque;Specialty Food;Hawaiian;Restaurants',
 'Burgers;Restaurants;American (Traditional);Barbeque',
 'Food;Specialty Food;Mexican;Restaurants;Ethnic Food',
 'Latin American;Restaurants;Caribbean;Nightlife;Laotian;Seafood;Bars',
 'American (Traditional);Burgers;Bars;Restaurants;Nightlife;American (New)',
 'Nightlife;Restaurants;Seafood;Karaoke;Filipino;Hawaiian',
 'Karaoke;Sushi Bars;Vietnamese;Restaurants;Nightlife',
 'Restaurants;American (Traditional);Italian;Pizza',
 'Italian;Pizza;Salad;Restaurants;Sandwiches',
 'Breakfast & Brunch;Donuts;Food;Restaurants',
 'Restaurants;Hotels;Sandwiches;Delis;Desserts;Event Planning & Services;Casinos;Hotels & Travel;Food;Arts & Entertainment',
 'Caribbean;Restaurants;Spanish;Puerto Rican',
 'Sandwiches;Restaurants;Delis;Breakfast & Brunch',
 'Restaurants;Asian Fusion;American (Traditional);Lounges;Nightlife;Bars',
 'Restaurants;Shaved Ice;Asian Fusion;Food;Specialty Food;Health & Medical;Ramen;Sushi Bars;Vegetarian;Noodles;Japanese',
 'Bars;Food Stands;Canadian (New);Restaurants;Nightlife;Sports Bars',
 'Restaurants;Bars;Steakhouses;Seafood;Nightlife',
 'Nightlife;Restaurants;Sandwiches;American (New);Cocktail Bars;Bars',
 'Restaurants;Soul Food;Seafood;Breakfast & Brunch;Food;Southern',
 'Brasseries;Tapas/Small Plates;Spanish;Breakfast & Brunch;Gastropubs;Restaurants',
 'Nightlife;Restaurants;Canadian (New);Bars;American (Traditional);Comfort Food',
 'Tapas Bars;Mediterranean;Restaurants;American (New);Gastropubs',
 'Indian;Restaurants',
 'Salad;Greek;Restaurants;Mediterranean;Steakhouses;Lebanese;Middle Eastern',

### collaborative is peer to peer. look at peers who have liked the same restaurants (likes == greater than the predicted base line for each

In [23]:
restaurants.head()

,business_id,name,city,state,stars,review_count,categories
4,PfOCPjBrlQAnz__NXj9h_w,"""Brick House Tavern + Tap""",Cuyahoga Falls,OH,3.5,116,American (New);Nightlife;Bars;Sandwiches;Ameri...
19,Gu-xs3NIQTj3Mj2xYoN2aw,"""Maxim Bakery & Restaurant""",Richmond Hill,ON,3.5,34,French;Food;Bakeries;Restaurants
25,1K4qrnfyzKzGgJPBEcJaNQ,"""Chula Taberna Mexicana""",Toronto,ON,3.5,39,Tiki Bars;Nightlife;Mexican;Restaurants;Bars
33,FXHfcFVEfI1vVngW2gVOpw,"""Bampot House of Tea & Board Games""",Toronto,ON,4.0,55,Coffee & Tea;Restaurants;Food;Mediterranean;Te...
40,tRVx2c89coruPRwYhGTcTw,"""Yuzu""",Lakewood,OH,3.5,78,Nightlife;Izakaya;Comfort Food;Cocktail Bars;A...

In [24]:
restaurants.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25551 entries, 4 to 174558
Data columns (total 7 columns):
business_id     25551 non-null object
name            25551 non-null object
city            25551 non-null object
state           25551 non-null object
stars           25551 non-null float64
review_count    25551 non-null int64
categories      25551 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.6+ MB

In [25]:
yelp_users.head()

,user_id,name,review_count,yelping_since,friends,useful,funny,cool,fans,elite,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,JJ-aSuM4pCFPdkfoZ34q0Q,Chris,10,2013-09-24,"0njfJmB-7n84DlIgUByCNw, rFn3Xe3RqHxRSxWOU19Gpg...",0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
1,uUzsFQn_6cXDh6rPNGbIFA,Tiffy,1,2017-03-02,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
2,mBneaEEH5EMyxaVyqS-72A,Mark,6,2015-03-13,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
3,W5mJGs-dcDWRGEhAzUYtoA,Evelyn,3,2016-09-08,None,0,0,0,0,None,...,0,0,0,0,0,0,0,0,0,0
4,4E8--zUZO1Rr1IBK4_83fg,Lisa,11,2012-07-16,None,4,0,0,0,None,...,0,0,0,0,0,0,0,0,1,0

In [26]:
yelp_users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1326100 entries, 0 to 1326099
Data columns (total 22 columns):
user_id               1326100 non-null object
name                  1325603 non-null object
review_count          1326100 non-null int64
yelping_since         1326100 non-null object
friends               1326100 non-null object
useful                1326100 non-null int64
funny                 1326100 non-null int64
cool                  1326100 non-null int64
fans                  1326100 non-null int64
elite                 1326100 non-null object
average_stars         1326100 non-null float64
compliment_hot        1326100 non-null int64
compliment_more       1326100 non-null int64
compliment_profile    1326100 non-null int64
compliment_cute       1326100 non-null int64
compliment_list       1326100 non-null int64
compliment_note       1326100 non-null int64
compliment_plain      1326100 non-null int64
compliment_cool       1326100 non-null int64
compliment_funny      1326100 non-null int64
compliment_writer     1326100 non-null int64
compliment_photos     1326100 non-null int64
dtypes: float64(1), int64(16), object(5)
memory usage: 222.6+ MB

In [27]:
users = yelp_users.filter(['user_id','review_count','business_id','average_stars'], axis = 1)
users_15 = users[users['review_count']> 15]
users_15.head()

                   user_id  review_count  average_stars
18  jYnkJR3T8yCERXywoVhWYA            48           3.73
44  fV8Yr0c5tFQTQ2SRRJHXHw            50           3.96
52  bZkZgll3Fii18x3WRtB5Lg            62           3.30
73  gkMSWgpoBcc96JqhMFbKJg            19           4.26
74  aw973Pm1nrTbRjP4zY9B9g           762           3.60

In [28]:
users_15.user_id.nunique()

330694

In [29]:
res_20 = restaurants[restaurants['review_count'] > 19]
res_20.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25551 entries, 4 to 174558
Data columns (total 7 columns):
business_id     25551 non-null object
name            25551 non-null object
city            25551 non-null object
state           25551 non-null object
stars           25551 non-null float64
review_count    25551 non-null int64
categories      25551 non-null object
dtypes: float64(1), int64(1), object(5)
memory usage: 1.6+ MB

In [30]:
yelp_review.head(2)

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0

In [31]:
yelp_review['user_id'].nunique()

1326101

In [32]:
yelp_review_subset = yelp_review[:100]
yelp_review_subset.head()

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [33]:
yelp_review_subset.groupby('user_id')['review_id'].count()

user_id
_4iMDXbXZ1p1ONG297YEAQ     1
_L2SZSwf7A6YSrIHy_q4cw     5
bv2nCi5Qv5vroFiqKGopiw     5
nOTl4aPC4tKHK35T3bNauQ     3
nsOf58RZjMTn8V94EQYJog     1
r9HwWzRRd0EvcwnDX9TLTg     1
ssuXFjkH4neiBgwv-oN4IA     3
u0LXt3Uea_GidxRW1xcsfg    80
xJbxpra6iyCsph35Pt0cZg     1
Name: review_id, dtype: int64

In [34]:
review_count = yelp_review.groupby('user_id')['review_id'].count()
review_count = review_count.to_frame()

In [35]:
review_count.head()

                        review_id
user_id
---1lKK3aKOuomHnwAkAow        119
---94vtJ_5o_nikEs6hUjg          1
---PLwSf5gKdIoVnyRHgBA          2
---cu1hq55BP9DWVXXKHZg          3
---fhiwiwBYrvqhpXgcWDQ          1

In [36]:
review_count.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1326101 entries, ---1lKK3aKOuomHnwAkAow to zzzmshdEWLFCApxETl1TGQ
Data columns (total 1 columns):
review_id    1326101 non-null int64
dtypes: int64(1)
memory usage: 20.2+ MB

In [37]:
review_count['review_id'].max()

3569

In [38]:
## Selec only reviewers with over 15 reviews
review_count_15 = review_count[review_count['review_id'] > 15]

In [39]:
review_count_15.head()

                        review_id
user_id
---1lKK3aKOuomHnwAkAow        119
--2HUmLkcNHZp0xw6AMBPg         27
--2vR0DIsmQ6WfcSzKWigw         37
--4rAAfZnEIAKJE80aIiYg         26
--BumyUHiO_7YsHurb9Hkw         46

In [40]:
users_15.user_id.nunique()

330694

In [41]:
t = ['bv2nCi5Qv5vroFiqKGopiw']
yelp_review_subset[yelp_review_subset['user_id'].isin(t)]

,review_id,user_id,business_id,stars,date,text,useful,funny,cool
0,vkVSCC7xljjrAI4UGfnKEQ,bv2nCi5Qv5vroFiqKGopiw,AEx2SYEUJmTxVVB18LlCwA,5,2016-05-28,Super simple place but amazing nonetheless. It...,0,0,0
1,n6QzIUObkYshz4dz2QRJTw,bv2nCi5Qv5vroFiqKGopiw,VR6GpWIda3SfvPC-lg9H3w,5,2016-05-28,Small unassuming place that changes their menu...,0,0,0
2,MV3CcKScW05u5LVfF6ok0g,bv2nCi5Qv5vroFiqKGopiw,CKC0-MOWMqoeWf6s-szl8g,5,2016-05-28,Lester's is located in a beautiful neighborhoo...,0,0,0
3,IXvOzsEMYtiJI0CARmj77Q,bv2nCi5Qv5vroFiqKGopiw,ACFtxLv8pGrrxMm6EgjreA,4,2016-05-28,Love coming here. Yes the place always needs t...,0,0,0
4,L_9BTb55X0GDtThi6GlZ6w,bv2nCi5Qv5vroFiqKGopiw,s2I_Ni76bjJNK9yG60iD-Q,4,2016-05-28,Had their chocolate almond croissant and it wa...,0,0,0

In [42]:
## get ratings from users who wrote more than 15 of them
super_users = list(users_15.user_id)
yelp_review_super_users = yelp_review[yelp_review['user_id'].isin(super_users)]

In [43]:
yelp_review_super_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3113278 entries, 6 to 5261667
Data columns (total 9 columns):
review_id      object
user_id        object
business_id    object
stars          int64
date           object
text           object
useful         int64
funny          int64
cool           int64
dtypes: int64(4), object(5)
memory usage: 237.5+ MB

In [44]:
yelp_review_super_users = yelp_review_super_users.drop(['date','text','useful','funny','cool'], axis = 1)

In [45]:
yelp_review_super_users.user_id.value_counts()

CxDOIDnH8gp9KXzpBHJYXw    3569
bLbSNkLggFnqwNNzzq-Ijw    2077
PKEzKWv_FktMm2mGPjwd0Q    1611
DK57YibC5ShBmqQl97CKog    1463
QJI9OSEn6ujRCtrX06vs1w    1322
d_TBs6J3twMy9GChqUEXkg    1184
ELcQDlf69kb-ihJfxZyL0A    1159
cMEtAiW60I5wE_vLfTxoJQ    1126
hWDybu_KvYLSdEFzGrniTw    1117
U4INQZOPSUaj8hMjLlZ3KA    1101
UYcmGbelzRa0Q6JqzLoguw    1092
62GNFh5FySkA3MbrQmnqvg    1051
dIIKEfOgo0KqUfGQvGikPg     989
n86B7IkbU20AkxlFX_5aew     955
iDlkZO2iILS8Jwfdy7DP9A     947
N3oNEwh0qgPqPP3Em6wJXw     926
rCWrxuRC8_pfagpchtHp6A     915
Ry1O_KXZHGRI8g5zBR3IcQ     896
0BBUmH7Krcax1RZgbH4fSA     874
pMefTWo6gMdx8WhYSA2u3w     838
3nDUQBjKyVor5wV0reJChg     833
WeVkkF5L39888IPPlRhNpg     830
YMgZqBUAddmFErxLtCfK_w     823
U5YQX_vMl_xQy8EQDqlNQQ     810
Q9mA60HnY87C1TW5kjAZ6Q     803
dt9IHwfuZs9D9LOH7gjNew     798
fiGqQ7pIGKyZ9G0RqWLMpg     787
PeLGa5vUR8_mcsn-fn42Jg     775
Wc5L6iuvSNF5WGBlqIO8nw     772
Xxvz5g67eaCr3emnkY5M6w     772
                          ...
nC-7df8T_4LeI6WOqd1p3Q       1
eMy1RwoErz5fU2V2wBDYTg       1
f1AL0FWLYY3LL4NcMa6jmg       1
LLHmq7bsdfbRQhv-hXMLSQ       1
r4j84ZZzGuPic6yM91t0vA       1
dPRt5UEgiGBtC0XDvLvjgA       1
E-r4draHjPpPEB_U8tI5fA       1
9vv18mRSoG6rFVp-iWi4Xg       1
NmsT77H7ir4CfCZYN8lrIg       1
yLbpROxuhz7o-CajrMTNxA       1
LmJQmK-7F1PX5QIvS7hYIg       1
kYeSZmifrehuFyDX8o4xMw       1
t7ZTe8DkxQNpvvLTjmtUpg       1
HTQCi0vZDQnq02ovLQnpWQ       1
v89VYv_SzQKzl9wFOJM9wA       1
G03VXbx-h5k8bYJ9bi4tKg       1
wyMmqHNh96m5-rgrZCG-RA       1
KHGTqcnqRobUmn5FhgqA5g       1
BQsUQlxVfGyoQQTj0qZBUg       1
UD_LJ6ujqsoeWcRJZ8ez9g       1
fEePy441uBP-69jOSXa4lg       1
LPkXc94_xyRN09d8sXSR7Q       1
CrNADLCTyED5OvkD0K7Eww       1
NJkzvrD-EsFaNgrkHdabzQ       1
Wv5dXFzWsqn-wkYc322IMQ       1
qH3_a5kSJCnf4wzY_ReiqQ       1
-YEzTPfrihR0GT61Jqbj-g       1
oKaKqYoxFGb2llxQFn-yFQ       1
_gCUHyPU2Y93cQgpKrEMeA       1
yLs5UfQZ4xVaU607o8rD0g       1
Name: user_id, Length: 330694, dtype: int64

In [46]:
pop_business_id_list = list(res_20.business_id)
yelp_review_super_users = yelp_review_super_users[yelp_review_super_users['business_id'].isin(pop_business_id_list)]
yelp_review_super_users.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1882930 entries, 6 to 5261667
Data columns (total 4 columns):
review_id      object
user_id        object
business_id    object
stars          int64
dtypes: int64(1), object(3)
memory usage: 71.8+ MB

In [48]:
print(len(pop_business_id_list))
yelp_review_super_users.user_id.nunique()

25551

271728

In [49]:
yelp_review_super_users.head(2)

,review_id,user_id,business_id,stars
6,ymAUG8DZfQcFTBSOiaNN4w,u0LXt3Uea_GidxRW1xcsfg,9_CGhHMz8698M9-PkVf0CQ,4
8,w41ZS9shepfO3uEyhXEWuQ,u0LXt3Uea_GidxRW1xcsfg,5r6-G9C4YLbC7Ziz57l3rQ,3

In [50]:
yelp_review_super_users = yelp_review_super_users.drop(['date','text','useful','funny','cool'], axis = 1)
yelp_review_super_users.head(2)

KeyError: "labels ['date' 'text' 'useful' 'funny' 'cool'] not contained in axis"

In [51]:
model = yelp_review_super_users.drop(['review_id'],axis = 1)
model.head(2)

                  user_id             business_id  stars
6  u0LXt3Uea_GidxRW1xcsfg  9_CGhHMz8698M9-PkVf0CQ      4
8  u0LXt3Uea_GidxRW1xcsfg  5r6-G9C4YLbC7Ziz57l3rQ      3

In [52]:
model.business_id.nunique()

25551

In [53]:
model.head(10)

                   user_id             business_id  stars
6   u0LXt3Uea_GidxRW1xcsfg  9_CGhHMz8698M9-PkVf0CQ      4
8   u0LXt3Uea_GidxRW1xcsfg  5r6-G9C4YLbC7Ziz57l3rQ      3
10  u0LXt3Uea_GidxRW1xcsfg  z8oIoCT1cXz7gZP5GeU5OA      4
11  u0LXt3Uea_GidxRW1xcsfg  XWTPNfskXoUL-Lf32wSk0Q      3
13  u0LXt3Uea_GidxRW1xcsfg  RtUvSWO_UZ8V3Wpj0n077w      3
14  u0LXt3Uea_GidxRW1xcsfg  Aov96CM4FZAXeZvKtsStdA      5
15  u0LXt3Uea_GidxRW1xcsfg  0W4lkclzZThpx3V65bVgig      4
17  u0LXt3Uea_GidxRW1xcsfg  PFPUMF38-lraKzLcTiz5gQ      3
18  u0LXt3Uea_GidxRW1xcsfg  oWTn2IzrprsRkPfULtjZtQ      3
19  u0LXt3Uea_GidxRW1xcsfg  zgQHtqX0gqMw1nlBZl2VnQ      1

In [54]:
model_1 = model[model.business_id.isin(pop_business_id_list[:100])]
type(model_1)

pandas.core.frame.DataFrame

## User-Item Collaborative Filtering

In [55]:
n_users = model_1.user_id.unique().shape[0]
n_items = model_1.business_id.unique().shape[0]
print ('Number of users = ' + str(n_users) + ' | Number of restaurants = ' + str(n_items))

Number of users = 4999 | Number of restaurants = 100

In [56]:
from sklearn import cross_validation as cv
train_data, test_data = cv.train_test_split(model_1, test_size=0.25)

In [57]:
#rp = rating.pivot_table(cols=['critic'],rows=['title'],values='rating')
rp = model_1.pivot_table(columns=['business_id'], index = 'user_id', values = 'stars')

In [58]:
rp.head()

business_id,-DtaPJJ-beogNkDKusGhlA,-Ut87cwGFsO3444Rd11p0Q,0s0Xthk1JWrBUu74M81Xyg,0v984vlPQfb4VZWvBJSsfg,1K4qrnfyzKzGgJPBEcJaNQ,1Nq7GxjvEDgAJxBeOjR_9Q,1WBkAuQg81kokZIPMpn9Zg,3b4efqz06QrLQ_w2xLc4pA,4-YKQyhDR2bZ26AYgZ7aFg,575BoZY8tDPcfSRcdsUNLw,...,t8yi2l7pZF43Rlf9_lHdDA,tCJGEQVqjELLYv3fPNX5Rw,tRVx2c89coruPRwYhGTcTw,u29lf2yPd-qK5ThAS9FRQQ,v0byOL8VL6v6muGa1anxFA,veXxt8rGY_RJPpA5QkHT9Q,wtazPNyIbsRMHmrpEYbqZA,ww_MXl-qDLeYdYTZZ9KWbA,wztnDEbXD1VNvHMMPj2tMw,yHCoJZh5nx0Onr5xgMaUHg
user_id,,,,,,,,,,,,,,,,,,,,,
--ty7Z9fEt08E3dS3_qoSA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-0-R267zNIQDPI9rxJlprQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2TWjxYpKd_2N2cdwSg-ZQ,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-2kCxY7_aw5hOz7fJnGMbQ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-3PTUP443q6hQESLKSu95w,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [59]:
rp_wide = rp.fillna(0)
rp_wide.head()

business_id,-DtaPJJ-beogNkDKusGhlA,-Ut87cwGFsO3444Rd11p0Q,0s0Xthk1JWrBUu74M81Xyg,0v984vlPQfb4VZWvBJSsfg,1K4qrnfyzKzGgJPBEcJaNQ,1Nq7GxjvEDgAJxBeOjR_9Q,1WBkAuQg81kokZIPMpn9Zg,3b4efqz06QrLQ_w2xLc4pA,4-YKQyhDR2bZ26AYgZ7aFg,575BoZY8tDPcfSRcdsUNLw,...,t8yi2l7pZF43Rlf9_lHdDA,tCJGEQVqjELLYv3fPNX5Rw,tRVx2c89coruPRwYhGTcTw,u29lf2yPd-qK5ThAS9FRQQ,v0byOL8VL6v6muGa1anxFA,veXxt8rGY_RJPpA5QkHT9Q,wtazPNyIbsRMHmrpEYbqZA,ww_MXl-qDLeYdYTZZ9KWbA,wztnDEbXD1VNvHMMPj2tMw,yHCoJZh5nx0Onr5xgMaUHg
user_id,,,,,,,,,,,,,,,,,,,,,
--ty7Z9fEt08E3dS3_qoSA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-0-R267zNIQDPI9rxJlprQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-2TWjxYpKd_2N2cdwSg-ZQ,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-2kCxY7_aw5hOz7fJnGMbQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-3PTUP443q6hQESLKSu95w,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [60]:
##In this case users represent the rows of the dataframe
pd.Series(rp_wide.index[:10])

0    --ty7Z9fEt08E3dS3_qoSA
1    -0-R267zNIQDPI9rxJlprQ
2    -2TWjxYpKd_2N2cdwSg-ZQ
3    -2kCxY7_aw5hOz7fJnGMbQ
4    -3PTUP443q6hQESLKSu95w
5    -3a9i4F7Xtx63kbXIhtUOw
6    -50XWnmQGqBgEI-9ANvLlg
7    -6559fkJ6rCWIZDbqVUomA
8    -8mGZ-pJi-NcjZckuz1M7A
9    -9JqNce6qGY2fTepA8XpUg
Name: user_id, dtype: object

In [61]:
dists = cosine_similarity(rp_wide)
dists

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [62]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity = pairwise_distances(train_data_matrix, metric='cosine')
item_similarity = pairwise_distances(train_data_matrix.T, metric='cosine')

user_prediction = predict(train_data_matrix, user_similarity, type='user')

NameError: name 'train_data_matrix' is not defined

In [63]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1)
        #You use np.newaxis so that mean_user_rating has same format as ratings
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        pred = ratings.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred
item_prediction = predict(train_data_matrix, item_similarity, type='item')
print(item_prediction)

NameError: name 'train_data_matrix' is not defined

In [64]:
sparsity=round(1.0-len(rp)/float(n_users*n_items),3)
print ('The sparsity level of Yelp Data set is ' +  str(sparsity*100) + '%')

The sparsity level of Yelp Data set is 99.0%

In [65]:
rp_wide.head()

business_id,-DtaPJJ-beogNkDKusGhlA,-Ut87cwGFsO3444Rd11p0Q,0s0Xthk1JWrBUu74M81Xyg,0v984vlPQfb4VZWvBJSsfg,1K4qrnfyzKzGgJPBEcJaNQ,1Nq7GxjvEDgAJxBeOjR_9Q,1WBkAuQg81kokZIPMpn9Zg,3b4efqz06QrLQ_w2xLc4pA,4-YKQyhDR2bZ26AYgZ7aFg,575BoZY8tDPcfSRcdsUNLw,...,t8yi2l7pZF43Rlf9_lHdDA,tCJGEQVqjELLYv3fPNX5Rw,tRVx2c89coruPRwYhGTcTw,u29lf2yPd-qK5ThAS9FRQQ,v0byOL8VL6v6muGa1anxFA,veXxt8rGY_RJPpA5QkHT9Q,wtazPNyIbsRMHmrpEYbqZA,ww_MXl-qDLeYdYTZZ9KWbA,wztnDEbXD1VNvHMMPj2tMw,yHCoJZh5nx0Onr5xgMaUHg
user_id,,,,,,,,,,,,,,,,,,,,,
--ty7Z9fEt08E3dS3_qoSA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-0-R267zNIQDPI9rxJlprQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-2TWjxYpKd_2N2cdwSg-ZQ,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-2kCxY7_aw5hOz7fJnGMbQ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
-3PTUP443q6hQESLKSu95w,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [66]:
X = rp_wide

In [67]:
from sklearn.decomposition import TruncatedSVD

SVD = TruncatedSVD(n_components = 12, random_state = 42)
matrix = SVD.fit_transform(X)
matrix.shape

(4999, 12)

In [68]:
matrix[:1]

array([[ 1.18230555e-04,  2.83942065e-04, -3.43248378e-03,
        -7.22734578e-03,  1.16273869e-01,  7.66020248e-03,
        -1.71874229e-02,  3.36245781e-02,  1.40011281e-01,
        -1.55246962e-02,  2.90346972e-02,  2.10303836e-02]])

In [69]:
pickle.dump(rp_wide, open('wide_test_matrix.pkl', 'wb'))

In [70]:
pickle.dump(model_1, open('model_before_pivot.pkl', 'wb'))

In [71]:
model_svd = model[model.business_id.isin(pop_business_id_list[:5000])]

In [72]:
pickle.dump(model_svd, open('model_svd.pkl', 'wb'))

## Simlarities, KNN, SVD

In [73]:
from scipy.sparse import csr_matrix
import sklearn
from sklearn.decomposition import TruncatedSVD
from sklearn.neighbors import NearestNeighbors
from sklearn.utils.extmath import randomized_svd

In [75]:
wide_m = pickle.load(open("wide_test_matrix.pkl", "rb"))
df = pickle.load(open("model_before_pivot.pkl", "rb"))
df_pivot = df.pivot(index = 'business_id', columns = 'user_id', values = 'stars').fillna(0)

In [76]:
model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(df_pivot)

NearestNeighbors(algorithm='brute', leaf_size=30, metric='cosine',
         metric_params=None, n_jobs=1, n_neighbors=5, p=2, radius=1.0)

In [77]:
type(df_pivot)

pandas.core.frame.DataFrame

In [78]:
query_index = np.random.choice(df_pivot.shape[0])
distances, indices = model_knn.kneighbors(df_pivot.iloc[query_index, :].values.reshape(1, -1), n_neighbors=5)

In [79]:
for i in range(0, len(distances.flatten())):
    if 1 == 0:
        print('Recomendation for {0}:\n'.format(df_pivot.index[query_index]))
    else:
        print('{0}: {1} at a distance of {2}'.format(i, df_pivot.index[indices.flatten()[i]], distances.flatten()))

0: v0byOL8VL6v6muGa1anxFA at a distance of [0.         0.94599591 0.96551044 0.98437746 0.984463  ]
1: u29lf2yPd-qK5ThAS9FRQQ at a distance of [0.         0.94599591 0.96551044 0.98437746 0.984463  ]
2: W1Yr6c2XDx_RBjb6WsV-aQ at a distance of [0.         0.94599591 0.96551044 0.98437746 0.984463  ]
3: _ewxwEwJM-IYfIYnKpQOZw at a distance of [0.         0.94599591 0.96551044 0.98437746 0.984463  ]
4: dPxZI9lrKTl5dvFfnb1_Ig at a distance of [0.         0.94599591 0.96551044 0.98437746 0.984463  ]

In [80]:
SVD = TruncatedSVD(n_components=12, random_state=17)
matrix = SVD.fit_transform(X)

In [81]:
corr = np.corrcoef(matrix)

In [82]:
test_res = 10
corr_test_case = corr[test_res]
list(wide_m[(corr_test_case > .99)])

['-DtaPJJ-beogNkDKusGhlA',
 '-Ut87cwGFsO3444Rd11p0Q',
 '0s0Xthk1JWrBUu74M81Xyg',
 '0v984vlPQfb4VZWvBJSsfg',
 '1K4qrnfyzKzGgJPBEcJaNQ',
 '1Nq7GxjvEDgAJxBeOjR_9Q',
 '1WBkAuQg81kokZIPMpn9Zg',
 '3b4efqz06QrLQ_w2xLc4pA',
 '4-YKQyhDR2bZ26AYgZ7aFg',
 '575BoZY8tDPcfSRcdsUNLw',
 '5BjhQ_Tmm9ppK4UGrMr09g',
 '5XejqzaFmtkZMstJS5Iy-w',
 '5q6Xh-UcJa78bp6dzyaE7w',
 '6PwKC0dqP9uI85FEP86iPQ',
 '75RP4HSsSJOe_e7e2e3jQQ',
 '7J_8O6w79raFRSORc3bRew',
 'A029GQG1S3ekPit6cObcBA',
 'AXb5gCwqHl-_v6ZIMb1mXQ',
 'B5EZlEDH6AVDk8tQGHAGqg',
 'BnuzcebyB1AfxH0kjNWqSg',
 'CyKi4WgsRNpp3jgsxBEcDg',
 'ECqc9Xd0dTdKmcNrbIizAw',
 'EEePiBwchl-TIBVcTdE0RA',
 'FXHfcFVEfI1vVngW2gVOpw',
 'FuO6d7IR1ee-3Bfo-gu1HQ',
 'Gu-xs3NIQTj3Mj2xYoN2aw',
 'IfUkm42SB9D0m_ZbkQ711A',
 'J9f-9Prw2YVM-fiZqv2fmQ',
 'JxSmlL_MckX0dvS5XBg0Cg',
 'KYEZATGRY5aD69ZR6VvyWQ',
 'KhWl4Mwhm_Oqq0zIIz-0wQ',
 'LhWwwDJ2l79a1tHrpcdK6A',
 'LrYSnxLKarkzeNHqq50r-A',
 'M-rqZ56wTGSNoIIsBSlhDA',
 'M3uV9Y3EDSpy9d4YwyNSAQ',
 'MTH-AcNyWfsBa9sXp04HcQ',
 'Mmh4w2g2bSAkdSAFd_MH_g',
 'NOHh2pgOTUBqp82IQlRQMQ',
 'NoSj3hV8Rlz_gUsOL4_EjQ',
 'O_UC_izJXcAmkm6HlEyGSA',
 'OvbLKXkJCg8ZMHX9L5faIA',
 'PfOCPjBrlQAnz__NXj9h_w',
 'QkG3KUXwqZBW18A9k1xqCA',
 'Qv0OEziLJwyAqcgtrTsA4w',
 'R8Mw0iFenJ3nwXuZb7Ql4A',
 'RAUI7uwpMP6dlcHXkavwHg',
 'Rh2smrKvcamnP8VBUgMI0Q',
 'SAae44V24aD7y_HpgxjhPA',
 'T2jfXhvQPk9wLdt1OVV-Kg',
 'U1ZVgF-kfkvv_rcoe0RglQ',
 'UlI0TksGFiIXtcbtg2KalQ',
 'Uy3_5nLo3sYkAuSX6mjdmg',
 'VGRn5KgYKMkqdIKtBUzQQA',
 'VdlPZg2NAu8t8GkdbPLecg',
 'W1Yr6c2XDx_RBjb6WsV-aQ',
 'WMj5Uj04pAqFxLMnJQcQqw',
 'WUiDaFQRZ8wKYGLvmjFjAw',
 'WZdHNL9F0VWPRGLf1GQcbA',
 'XguKrY0dAuaK1W6HUlUQ1Q',
 '_eKvk2GoGKb3CoYolHgRlg',
 '_ewxwEwJM-IYfIYnKpQOZw',
 'aFBCmJUYrPeol_P75QX7Jw',
 'bA21m-qbgN_GNR6g-AlfYw',
 'c7X2SdKxVJMaOnFROO8WEg',
 'c_XbaJqhm-5ycSBOkVUBmg',
 'd4GBb0eVWVdfL5aJx3UCRg',
 'dPxZI9lrKTl5dvFfnb1_Ig',
 'eSQt_QNjxNEYN3bF1fHbQg',
 'fUOY7g6JcO0m3iZNfK0O0g',
 'fx2GjJQyFb4FbueV0vX-KA',
 'gEJZ5USuvC1r8_QvSvDCNA',
 'iPa__LOhse-hobC2Xmp-Kw',
 'irYAkavSVtIEyGOsHK-yPw',
 'j37Z4LIXTH9j6KOq9aX8DQ',
 'k-6pef2sjWEyyBqgTAQcRA',
 'kRgP3LxO2ugBrC1YpWLncA',
 'kyXEnWKQGWSThY6EcjORuw',
 'lrm8hNDtwd5Wd0tVjOgCyw',
 'mFE7N0p3f_7vcMTUy76ifw',
 'mLP-jIIRdoaYM7fJqqFurw',
 'mZK8IBkMFzOX2UmA7_BylA',
 'mfQlXkeNhW1vz_1iq63mNQ',
 'n7V4cD-KqqE3OXk0irJTyA',
 'oHeiAs-mnDJU1_4BD8_5Dg',
 'pBoWsom3mZFYo9EucIWRDg',
 'qwlsGR-pJb6xMWJBqiNIQw',
 'rv9T1qGHbh9eXqFpKEPy_A',
 'sJ0MYSAIVK28cMzh-s-NPA',
 'sUMi2q41l4AzOsmJMRY8zQ',
 'spDZkD6cp0JUUm6ghIWHzA',
 't8yi2l7pZF43Rlf9_lHdDA',
 'tCJGEQVqjELLYv3fPNX5Rw',
 'tRVx2c89coruPRwYhGTcTw',
 'u29lf2yPd-qK5ThAS9FRQQ',
 'v0byOL8VL6v6muGa1anxFA',
 'veXxt8rGY_RJPpA5QkHT9Q',
 'wtazPNyIbsRMHmrpEYbqZA',
 'ww_MXl-qDLeYdYTZZ9KWbA',
 'wztnDEbXD1VNvHMMPj2tMw',
 'yHCoJZh5nx0Onr5xgMaUHg']

In [83]:
user_item_mat = wide_m.T

In [84]:
U, Sigma, VT = randomized_svd(user_item_mat.values, 
                              n_components=3,
                              n_iter=5,
                              random_state=None)

In [85]:
pd.DataFrame(VT)

,0,1,2,3,4,5,6,7,8,9,...,4989,4990,4991,4992,4993,4994,4995,4996,4997,4998
0,0.000041,-0.000048,-8.702115e-07,-5.238150e-07,0.000003,5.101376e-04,1.672934e-07,3.060826e-04,8.189151e-05,-0.000002,...,-0.000002,-0.000003,-8.702115e-07,0.000002,-2.765940e-09,-0.000015,1.059861e-06,-9.798911e-10,5.670808e-02,0.000062
1,-0.000137,0.000815,4.774746e-06,4.549683e-04,0.000111,2.068085e-06,8.739036e-09,1.240851e-06,3.630044e-08,0.000315,...,0.000419,0.000072,4.774746e-06,0.000074,3.434876e-07,-0.000010,3.904805e-08,-1.501443e-08,5.759196e-07,0.000352
2,-0.000492,0.003325,-1.563978e-04,7.780621e-05,0.000029,8.613505e-07,1.887715e-04,5.168103e-07,3.632428e-07,0.000029,...,0.000039,0.000054,-1.563978e-04,0.000020,1.525609e-06,0.000619,-1.882637e-07,-5.128331e-07,6.582010e-07,0.009303

In [86]:
pd.DataFrame(VT.T)

                 0             1             2
0     4.051291e-05 -1.374908e-04 -4.919943e-04
1    -4.803433e-05  8.150145e-04  3.324754e-03
2    -8.702115e-07  4.774746e-06 -1.563978e-04
3    -5.238150e-07  4.549683e-04  7.780621e-05
4     2.730829e-06  1.106769e-04  2.944686e-05
5     5.101376e-04  2.068085e-06  8.613505e-07
6     1.672934e-07  8.739036e-09  1.887715e-04
7     3.060826e-04  1.240851e-06  5.168103e-07
8     8.189151e-05  3.630044e-08  3.632428e-07
9    -1.657524e-06  3.145367e-04  2.946904e-05
10    2.665170e-06  6.418667e-02 -1.272770e-04
11   -1.087764e-06  5.968432e-06 -1.954973e-04
12   -1.610708e-05 -1.281091e-05  7.838870e-02
13    4.670592e-06  3.974674e-04  7.343929e-05
14   -1.440700e-06  3.519260e-04  7.390297e-05
15    1.483256e-04  3.037994e-06  5.925938e-03
16    9.274050e-09 -8.471171e-07  3.371612e-06
17    7.088510e-02  7.198995e-07  8.227513e-07
18   -5.761545e-06  1.310640e-03  4.186048e-05
19   -9.979068e-06 -6.413377e-06  4.127780e-04
20   -1.158586e-10 -7.336208e-11 -3.365117e-10
21   -3.045846e-07  1.048302e-06  7.048592e-04
22    9.928880e-05  1.734034e-04  1.098474e-03
23    1.985776e-04  3.468069e-04  2.196949e-03
24    6.218419e-05  3.520579e-04  9.303223e-03
25   -6.892592e-09 -2.056153e-08  1.844702e-06
26   -2.882060e-05  4.890087e-04  1.994853e-03
27    1.489332e-04  2.601052e-04  1.647712e-03
28    1.243684e-05  7.041157e-05  1.860645e-03
29    2.412898e-06 -1.457374e-05  6.676715e-05
...            ...           ...           ...
4969  2.395449e-06 -1.893358e-05  6.401917e-05
4970  5.060638e-05 -5.593574e-04  9.669805e-03
4971  1.985776e-04  3.468069e-04  2.196949e-03
4972  3.178040e-05 -7.572611e-05 -6.974491e-04
4973  2.614815e-06 -1.984191e-04  4.390431e-04
4974 -1.395916e-07  4.259319e-06  4.142580e-05
4975 -1.306943e-04  3.397201e-03  8.998755e-04
4976  4.051291e-05 -1.374908e-04 -4.919943e-04
4977 -2.379580e-06  4.726665e-04  5.208006e-05
4978  1.332585e-06  3.209333e-02 -6.363849e-05
4979 -9.624410e-05  1.642451e-05  3.586446e-03
4980 -2.617296e-06  2.897848e-05  4.108791e-05
4981  4.974735e-05  2.816463e-04  7.442578e-03
4982  3.178040e-05 -7.572611e-05 -6.974491e-04
4983  7.945099e-06 -1.893153e-05 -1.743623e-04
4984  4.931843e-06  2.083520e-06  8.937739e-05
4985  1.090303e-06 -4.049839e-07 -1.370013e-05
4986 -8.053541e-06 -6.405455e-06  3.919435e-02
4987 -9.624410e-05  1.642451e-05  3.586446e-03
4988 -1.023454e-04  2.298379e-03  6.806084e-04
4989 -2.210032e-06  4.193822e-04  3.929206e-05
4990 -3.354585e-06  7.166668e-05  5.421155e-05
4991 -8.702115e-07  4.774746e-06 -1.563978e-04
4992  1.820552e-06  7.378458e-05  1.963124e-05
4993 -2.765940e-09  3.434876e-07  1.525609e-06
4994 -1.496860e-05 -9.620066e-06  6.191669e-04
4995  1.059861e-06  3.904805e-08 -1.882637e-07
4996 -9.798911e-10 -1.501443e-08 -5.128331e-07
4997  5.670808e-02  5.759196e-07  6.582010e-07
4998  6.218419e-05  3.520579e-04  9.303223e-03

[4999 rows x 3 columns]

In [87]:
pd.DataFrame(Sigma)

           0
0  70.519597
1  62.163824
2  50.030878

In [88]:
def get_recommends(itemID, VT, num_recom=2):
    recs = []
    for item in range(VT.T.shape[0]):
        if item != itemID:
            recs.append([item,np.dot(VT.T[itemID],VT.T[item])])
    final_rec = [i[0] for i in sorted(recs,key=lambda x: x[1],reverse=True)]
    return final_rec[:num_recom]
print(get_recommends(0,VT,num_recom=2))

[1874, 2231]

In [89]:
def get_recommends_user(userID, U, df):
    userrecs = []
    for user in range(U.shape[0]):
        if user!= userID:
            userrecs.append([user,np.dot(U[userID],U[user])])
    final_rec = [i[0] for i in sorted(userrecs,key=lambda x: x[1],reverse=True)]
    comp_user = final_rec[0]
    print("User #%s's most similar user is User #%s "% (userID, comp_user))
    rec_likes = df.iloc[comp_user]
    current = df.iloc[userID]
    recs = []
    for i,item in enumerate(current):
        if item != rec_likes[i] and rec_likes[i]!=0:
            recs.append(i)
    return recs

user_to_rec = 9
print("Items for User %s to check out: "% user_to_rec, get_recommends_user(user_to_rec,U,user_item_mat))

User #9's most similar user is User #82
Items for User 9 to check out:  [12, 58, 65, 84, 87, 101, 111, 122, 174, 210, 217, 269, 295, 318, 337, 347, 367, 373, 379, 387, 417, 459, 461, 526, 590, 606, 627, 637, 665, 696, 697, 718, 740, 808, 810, 834, 844, 894, 958, 968, 992, 1011, 1048, 1070, 1071, 1072, 1143, 1144, 1208, 1228, 1237, 1238, 1252, 1294, 1299, 1349, 1370, 1384, 1509, 1559, 1560, 1566, 1586, 1618, 1653, 1670, 1685, 1698, 1722, 1743, 1758, 1805, 1817, 1842, 1880, 1899, 1921, 1939, 1968, 1975, 1980, 1987, 2011, 2088, 2089, 2115, 2119, 2178, 2183, 2297, 2331, 2354, 2372, 2385, 2394, 2427, 2433, 2451, 2459, 2511, 2533, 2541, 2556, 2574, 2591, 2648, 2666, 2682, 2687, 2699, 2709, 2735, 2741, 2742, 2783, 2886, 2893, 2895, 2897, 2927, 2931, 2945, 2956, 2998, 3018, 3048, 3076, 3104, 3109, 3133, 3188, 3202, 3228, 3255, 3271, 3288, 3298, 3304, 3315, 3340, 3392, 3415, 3477, 3545, 3546, 3563, 3603, 3629, 3637, 3650, 3726, 3732, 3733, 3799, 3807, 3844, 3859, 3887, 3906, 3911, 3924, 3931, 3934, 3948, 3999, 4065, 4081, 4085, 4093, 4101, 4111, 4112, 4133, 4145, 4179, 4239, 4278, 4315, 4338, 4355, 4361, 4377, 4379, 4380, 4381, 4390, 4391, 4397, 4405, 4439, 4441, 4454, 4473, 4496, 4498, 4508, 4513, 4586, 4659, 4677, 4695, 4750, 4758, 4767, 4775, 4828, 4840, 4874, 4884, 4887, 4890, 4909, 4923, 4925, 4941, 4986]

In [91]:
model_svd_load = pickle.load(open("model_svd.pkl", "rb"))
model_svd_load.head(1)

                   user_id             business_id  stars
13  u0LXt3Uea_GidxRW1xcsfg  RtUvSWO_UZ8V3Wpj0n077w      3

In [93]:
model_svd_load_50k = model_svd_load[:50000]
model_svd = model_svd_load_50k.pivot(index = 'user_id', columns = 'business_id', values = 'stars').fillna(0)

In [94]:
U1, Sigma1, VT1 = randomized_svd(model_svd.values, 
                              n_components=3,
                              n_iter=5,
                              random_state=None)

In [95]:
pd.DataFrame(VT1)

,0,1,2,3,4,5,6,7,8,9,...,4760,4761,4762,4763,4764,4765,4766,4767,4768,4769
0,2.744111e-08,0.000017,0.000038,0.000638,0.022158,4.265612e-05,0.001931,0.000340,0.001050,0.000038,...,0.000057,0.004302,-1.356270e-17,0.000344,6.530604e-07,0.036985,0.000198,0.000034,1.556516e-06,0.000017
1,-5.067108e-08,-0.000008,0.000008,0.000435,0.012749,-9.386070e-07,0.001222,0.000205,0.000537,0.000007,...,-0.000020,0.002608,-6.272543e-16,0.000149,4.369486e-07,0.020489,0.000131,0.000035,-1.512444e-06,0.000005
2,-1.152038e-07,-0.000027,-0.000052,0.000040,-0.013209,4.700205e-05,-0.000371,-0.000009,0.000353,0.000039,...,-0.000112,-0.000134,2.122177e-17,0.000145,2.799379e-08,0.019072,-0.000021,0.000042,-1.738276e-07,-0.000040

In [96]:
def get_recommends(itemID, VT1, num_recom = 3):
    recs = []
    for item in range(VT1.T.shape[0]):
        if item != itemID:
            recs.append([item,np.dot(VT1.T[itemID],VT1.T[item])])
    final_rec = [i[0] for i in sorted(recs,key=lambda x: x[1],reverse=True)]
    return final_rec[:num_recom]
print(get_recommends(0,VT1,num_recom=3))

[4150, 3225, 2880]

In [97]:
def get_recommends_user(userID, U1, df):
    userrecs = []
    for user in range(U1.shape[0]):
        if user!= userID:
            userrecs.append([user,np.dot(U1[userID],U1[user])])
    final_rec = [i[0] for i in sorted(userrecs,key=lambda x: x[1],reverse=True)]
    comp_user = final_rec[0]
    print("User #%s's most similar user is User #%s "% (userID, comp_user))
    rec_likes = df.iloc[comp_user]
    current = df.iloc[userID]
    recs = []
    for i,item in enumerate(current):
        if item != rec_likes[i] and rec_likes[i]!=0:
            recs.append(i)
    return recs

user_to_rec = 3
print("Items for User %s to check out: "% user_to_rec, get_recommends_user(user_to_rec,U1,user_item_mat))

User #3's most similar user is User #15020

IndexError: single positional indexer is out-of-bounds

In [102]:
##forest
random_forest = RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=150, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=200, n_jobs=-1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)


random_forest.fit(x_train, y_train)
rf_pred = random_forest.predict(X_test)
print('Accuracy of random forest classifier on test set: {:.2f}'.format(random_forest.score(X_test, y_test)))

rf_conf = confusion_matrix(y_test, rf_pred)
print()

print(rf_conf)
print()
print(classification_report(y_test, rf_pred))

NameError: name 'train_data_matrix' is not defined